[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-WTF = "*"
Flask-SQLAlchemy = "*"
WTForms = "*"
python-dotenv = "*"
Flask-Cors = "*"
flask-jwt-extended = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.passlib]
extras = [ "bcrypt",]
